<a href="https://colab.research.google.com/github/Talagani-Neeraj/Intermediate_SQL/blob/main/Intermediate_SQL_day_2_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [39]:
#using of Row functions in the avg net revenue of each month.
# using n-preceeding ( n can be any value ) & n - following
#unbounded preceding & unbounded following

%%sql

with monthly_sales as (
  select
    to_char(orderdate, 'YYYY-MM') as month,
    sum(quantity*netprice*exchangerate) as net_revenue
  from sales
  where extract(year from orderdate) = 2023
  group by month
  order by month
)

select
  month,
  net_revenue,
  avg(net_revenue) over(
    order by month
    -- rows between current ROW and current ROW
    -- rows between 1 preceding and current row
    -- rows between 1 preceding and 1 following
    rows between unbounded preceding and unbounded following

  ) AS net_revenue_current
from monthly_sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  net_revenue_current
0   2023-01   3664431.34           2759047.13
1   2023-02   4465204.57           2759047.13
2   2023-03   2244316.52           2759047.13
3   2023-04   1162796.16           2759047.13
4   2023-05   2943005.99           2759047.13
5   2023-06   2864500.03           2759047.13
6   2023-07   2337639.34           2759047.13
7   2023-08   2623919.79           2759047.13
8   2023-09   2622774.85           2759047.13
9   2023-10   2551322.61           2759047.13
10  2023-11   2700103.38           2759047.13
11  2023-12   2928550.93           2759047.13

In [25]:
#finding out first_value, last_value and nth_vaule to find particular months revenue
#these are windown functions
#also lag & lead
%%sql

with monthly_revenue as(
  select
    to_char(orderdate, 'YYYY-MM') as month,
    sum(quantity*netprice*exchangerate) as net_revenue
  from sales
  where extract(year from orderdate) = 2023
  group by month
  order by month
)

select
  *,
  -- FIRST_VALUE(net_revenue) over(order by month) as first_month_revenue,
  -- LAST_VALUE(net_revenue) over ( order by month rows between unbounded preceding and unbounded following  ) as last_month_revenue,
  -- NTH_VALUE(net_revenue, 3) over(order by month rows between unbounded preceding and unbounded following ) as third_month_revenue
  lag(net_revenue, 2) over(order by month) as previous_2_month_revenue,
  lead(net_revenue, 2) over(order by month) as _2_month_revenue
from monthly_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

12 rows affected.

      month  net_revenue  previous_2_month_revenue  next_2_month_revenue
0   2023-01   3664431.34                       NaN            2244316.52
1   2023-02   4465204.57                       NaN            1162796.16
2   2023-03   2244316.52                3664431.34            2943005.99
3   2023-04   1162796.16                4465204.57            2864500.03
4   2023-05   2943005.99                2244316.52            2337639.34
5   2023-06   2864500.03                1162796.16            2623919.79
6   2023-07   2337639.34                2943005.99            2622774.85
7   2023-08   2623919.79                2864500.03            2551322.61
8   2023-09   2622774.85                2337639.34            2700103.38
9   2023-10   2551322.61                2623919.79            2928550.93
10  2023-11   2700103.38                2622774.85                   NaN
11  2023-12   2928550.93                2551322.61                   NaN

In [18]:
#using row_number(), rank(), dense_rank()

%%sql

select
  customerkey,
  count(*) as total_orders,
  row_number() over (order by count(*) desc ) as total_orders_row_num,
  rank() over (order by count(*) desc ) as total_orders_rank,
  dense_rank() over (order by count(*) desc ) as total_orders_dense_rank
from sales
group by  customerkey
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,total_orders,total_orders_row_num,total_orders_rank,total_orders_dense_rank
0,1834524,31,1,1,1
1,1375597,30,2,2,2
2,249557,27,3,3,3
3,459519,26,4,4,4
4,1495941,26,5,4,4
5,1801215,26,6,4,4
6,1219056,25,7,7,5
7,759419,24,8,8,6
8,1427444,24,9,8,6
9,1876222,24,10,8,6

In [17]:
#using row number
%%sql
with row_numbering as (
  select
    row_number() over(
      partition by
        orderdate
      order by
        orderdate,
        orderkey,
        linenumber
    ) as row_num,
    *
  from sales
)

select *
from row_numbering
where orderdate > '2015-01-01'
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,row_num,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1,2000,0,2015-01-02,2015-01-02,1639738,530,1613,5,65.99,59.39,33.65,USD,1.00
1,2,2001,0,2015-01-02,2015-01-15,2085372,999999,2182,2,1237.50,1237.50,410.01,USD,1.00
2,3,2002,0,2015-01-02,2015-01-02,1732602,510,1822,2,22.40,22.40,11.42,USD,1.00
3,4,2002,1,2015-01-02,2015-01-02,1732602,510,49,5,149.96,149.96,68.96,USD,1.00
4,5,2003,0,2015-01-02,2015-01-02,728917,300,1674,2,4.89,4.89,2.49,EUR,0.83
5,6,2003,1,2015-01-02,2015-01-02,728917,300,369,1,1747.50,1555.28,803.60,EUR,0.83
6,7,2004,0,2015-01-02,2015-01-02,1724183,570,1654,2,155.99,155.99,51.68,USD,1.00
7,8,2005,0,2015-01-02,2015-01-02,2054699,480,460,1,749.75,712.26,382.25,USD,1.00
8,1,3000,0,2015-01-03,2015-01-03,1793739,500,108,3,99.74,97.75,45.87,USD,1.00
9,2,3000,1,2015-01-03,2015-01-03,1793739,500,1684,3,11.82,11.00,3.92,USD,1.00

In [16]:
# findout running order count and running avg revenue
#use orderby inside windown function

%%sql

select
  customerkey,
  orderdate,
  (quantity*netprice*exchangerate) as net_revenue,
  count(*) over(
    partition by customerkey
    order by orderdate
  ) as running_order_count,
  avg( quantity * netprice * exchangerate) over(
    partition by customerkey
    order by orderdate
  ) as running_avg_revenue
from
  sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

199873 rows affected.

,customerkey,orderdate,net_revenue,running_order_count,running_avg_revenue
0,15,2021-03-08,2217.41,1,2217.41
1,180,2018-07-28,525.31,1,525.31
2,180,2023-08-28,71.36,3,836.74
3,180,2023-08-28,1913.55,3,836.74
4,185,2019-06-01,1395.52,1,1395.52
...,...,...,...,...,...
199868,2099711,2016-08-13,2067.75,1,2067.75
199869,2099711,2017-08-14,3940.92,2,3004.34
199870,2099743,2022-03-17,375.57,2,234.81
199871,2099743,2022-03-17,94.05,2,234.81
199872,2099743,2023-02-11,598.46,3,356.03

In [12]:
#extracting the values after one particular time period
# using Filtering after window function
#there is another type, filtering before windown function - which is not demonstrated here, bez it will not give correct answers here

%%sql
with cohort as(
  select
    customerkey,
    extract(year from min(orderdate) over (partition by customerkey)) as cohort_year
  from sales
)
select *
from cohort
where cohort_year >= '2020'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

81370 rows affected.

       customerkey cohort_year
0               15        2021
1              406        2021
2              406        2021
3              545        2023
4              545        2023
...            ...         ...
81365      2099697        2022
81366      2099697        2022
81367      2099743        2022
81368      2099743        2022
81369      2099743        2022

[81370 rows x 2 columns]

In [10]:
#finding out the cusotmer ltv and avg cohort ltv

%%sql
with yearly_cohort as (
  select
    customerkey,
    extract(year from min(orderdate)) as cohort_year,
    sum(quantity*netprice*exchangerate) as customer_ltv
  from
    sales
  group by
    customerkey
)

select
  *,
  avg(customer_ltv) over(partition by cohort_year) as avg_cohort_ltv
from
  yearly_cohort
order by
  cohort_year,
  customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

49487 rows affected.

       customerkey cohort_year  customer_ltv  avg_cohort_ltv
0             4376        2015        182.00         5271.59
1             4403        2015       9530.35         5271.59
2             4925        2015       6078.08         5271.59
3             5729        2015        192.16         5271.59
4             6048        2015       1903.89         5271.59
...            ...         ...           ...             ...
49482      2093965        2024        475.22         2037.55
49483      2095129        2024        156.00         2037.55
49484      2095691        2024        326.00         2037.55
49485      2096470        2024        535.78         2037.55
49486      2097541        2024       1143.15         2037.55

[49487 rows x 4 columns]

In [8]:
#find the number of unique customers every year
#use the Count function

%%sql
with yearly_cohort as(
  select distinct
    customerkey,
    extract(year from (min(orderdate) over(partition by customerkey))) as cohort_year,
    extract(year from orderdate) as purchase_year
  from sales
)

select distinct
  cohort_year,
  purchase_year,
  count(customerkey) over(partition by purchase_year, cohort_year) as num_unique_customers
from yearly_cohort
order by
  cohort_year,
  purchase_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  num_unique_customers
0         2015          2015                  2825
1         2015          2016                   126
2         2015          2017                   149
3         2015          2018                   348
4         2015          2019                   388
5         2015          2020                   171
6         2015          2021                   295
7         2015          2022                   600
8         2015          2023                   499
9         2015          2024                   146
10        2016          2016                  3397
11        2016          2017                   174
12        2016          2018                   374
13        2016          2019                   457
14        2016          2020                   205
15        2016          2021                   336
16        2016          2022                   746
17        2016          2023                   573
18        2016          2024                   183
19        2017          2017                  4068
20        2017          2018                   473
21        2017          2019                   570
22        2017          2020                   251
23        2017          2021                   450
24        2017          2022                   943
25        2017          2023                   738
26        2017          2024                   246
27        2018          2018                  7446
28        2018          2019                  1081
29        2018          2020                   475
30        2018          2021                   779
31        2018          2022                  1644
32        2018          2023                  1407
33        2018          2024                   426
34        2019          2019                  7755
35        2019          2020                   523
36        2019          2021                   873
37        2019          2022                  1700
38        2019          2023                  1439
39        2019          2024                   370
40        2020          2020                  3031
41        2020          2021                   358
42        2020          2022                   694
43        2020          2023                   547
44        2020          2024                   163
45        2021          2021                  4663
46        2021          2022                  1051
47        2021          2023                   889
48        2021          2024                   268
49        2022          2022                  9010
50        2022          2023                  1764
51        2022          2024                   561
52        2023          2023                  5890
53        2023          2024                   332
54        2024          2024                  1402

In [4]:
#showing the cohort year and the net revenue based on the that
#use MIN as the window function

%%sql

-- create a CTE
with yearly_cohort as (
    select distinct
      customerkey,
      extract(year from min(orderdate) over (partition by customerkey)) as cohort_year
    from sales

)

select
  y.cohort_year,
  extract(year from orderdate) as purchase_year,
  sum(quantity * netprice * exchangerate) as net_revenue
from sales s
left join yearly_cohort y on s.customerkey = y.customerkey
group by
  y.cohort_year,
  purchase_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55 rows affected.

   cohort_year purchase_year  net_revenue
0         2015          2015   7370979.48
1         2015          2016    392623.48
2         2015          2017    479841.31
3         2015          2018   1069850.87
4         2015          2019   1235991.48
5         2015          2020    386489.60
6         2015          2021    872845.99
7         2015          2022   1569787.72
8         2015          2023   1157633.91
9         2015          2024    356186.62
10        2016          2016   9990990.20
11        2016          2017    497028.11
12        2016          2018   1074607.29
13        2016          2019   1565400.72
14        2016          2020    474087.09
15        2016          2021    964417.85
16        2016          2022   2164681.10
17        2016          2023   1265242.63
18        2016          2024    364066.76
19        2017          2017  12244469.63
20        2017          2018   1407065.13
21        2017          2019   1764716.90
22        2017          2020    625928.03
23        2017          2021   1329858.72
24        2017          2022   2428882.80
25        2017          2023   1714010.18
26        2017          2024    464802.56
27        2018          2018  21115924.55
28        2018          2019   3229188.22
29        2018          2020   1171126.65
30        2018          2021   2201262.39
31        2018          2022   4534295.81
32        2018          2023   3271753.92
33        2018          2024    936833.89
34        2019          2019  24022798.65
35        2019          2020   1295044.99
36        2019          2021   2337594.77
37        2019          2022   4848980.74
38        2019          2023   3440099.20
39        2019          2024    751725.53
40        2020          2020   7265759.44
41        2020          2021   1016399.07
42        2020          2022   1891708.40
43        2020          2023   1435051.04
44        2020          2024    312983.02
45        2021          2021  12635597.87
46        2021          2022   3014082.50
47        2021          2023   2242369.63
48        2021          2024    495686.18
49        2022          2022  24412138.13
50        2022          2023   4237220.04
51        2022          2024   1223450.12
52        2023          2023  14345184.96
53        2023          2024    634143.37
54        2024          2024   2856649.33

In [2]:
#showing daily net revenue and percentage daily net revenue
#use window function with sum

%%sql

select
  orderdate,
  orderkey * 10 + linenumber as order_line_number, --instead of separate orderkey and linenumber we merge into one and show it
  (quantity * netprice * exchangerate) as net_revenue,
  sum(quantity * netprice * exchangerate) over(partition by orderdate) as daily_net_revenue,
  (quantity * netprice * exchangerate) * 100 / sum(quantity * netprice * exchangerate)
    over(partition by orderdate) as percentage_daily_revenue
from
  sales
order by
  orderdate,
  percentage_daily_revenue desc
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,order_line_number,net_revenue,daily_net_revenue,percentage_daily_revenue
0,2015-01-01,10043,2395.10,11640.80,20.58
1,2015-01-01,10061,1552.32,11640.80,13.34
2,2015-01-01,10022,1302.91,11640.80,11.19
3,2015-01-01,10020,1146.75,11640.80,9.85
4,2015-01-01,10050,975.16,11640.80,8.38
5,2015-01-01,10021,950.25,11640.80,8.16
6,2015-01-01,10041,578.52,11640.80,4.97
7,2015-01-01,10081,574.05,11640.80,4.93
8,2015-01-01,10001,423.28,11640.80,3.64
9,2015-01-01,10040,263.11,11640.80,2.26

In [ ]:
#finding the average net revenue of all orders and also average net revenue of every customer customer

%%sql
select
  customerkey,
  orderkey,
  linenumber,
  (quantity*netprice*exchangerate) as net_revenue,
  avg(quantity * netprice * exchangerate) over() as avg_net_revenue_all_orders,
  avg(quantity*netprice*exchangerate) over(partition by customerkey) as avg_net_revenue_this_customer
from sales
order by  customerkey
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,orderkey,linenumber,net_revenue,avg_net_revenue_all_orders,avg_net_revenue_this_customer
0,15,2259001,0,2217.41,1032.69,2217.41
1,180,1305016,0,525.31,1032.69,836.74
2,180,3162018,1,1913.55,1032.69,836.74
3,180,3162018,0,71.36,1032.69,836.74
4,185,1613010,0,1395.52,1032.69,1395.52
5,243,505008,0,287.67,1032.69,287.67
6,387,2495044,0,1265.56,1032.69,517.32
7,387,3242015,0,30.51,1032.69,517.32
8,387,3242015,2,180.35,1032.69,517.32
9,387,3242015,1,362.44,1032.69,517.32

In [ ]:
#average processing time calculation
#age to find the interval for last 5

%%sql

select
  date_part('year', orderdate) as order_year,
  Round(avg(extract(days from age(deliverydate, orderdate))), 2) as avg_processing_time,
  cast(sum(quantity * netprice * exchangerate)as integer) as net_revenue
from
  sales
where
  -- extract(year from orderdate) >= extract(year from CURRENT_DATE) - 5 -- using this doesn't exactly give the 5 years interval, bez it directly looks for years but not months, so for precise data use INTERVAL
    orderdate >= CURRENT_DATE - interval '5 years'
group by
  order_year
order by
  order_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

4 rows affected.

   order_year avg_processing_time  net_revenue
0     2021.00                1.38     20110468
1     2022.00                1.62     44864557
2     2023.00                1.75     33108566
3     2024.00                1.67      8396527

In [ ]:
#get the orders for last 5 years only
#use current date in the filter( where condn)
#use INTERVAL for precise data
%%sql
select
  current_date,
  orderdate,
  --extract(year from orderdate) as order_year,
  -- extract(year from CURRENT_DATE) as current_year,
  -- extract(year from CURRENT_DATE) - 5 as minus_five,
  -- s.orderdate,
  -- p.categoryname,
  sum(s.quantity * s.netprice * s.productkey) as net_revenue
from
  sales s
  left join product p on s.productkey = p.productkey
where
  -- extract(year from orderdate) >= extract(year from CURRENT_DATE) - 5 -- using this doesn't exactly give the 5 years interval, bez it directly looks for years but not months, so for precise data use INTERVAL
    orderdate >= CURRENT_DATE - interval '5 years'
group by
  s.orderdate,
  p.categoryname
order by
  s.orderdate,
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8660 rows affected.

     current_date   orderdate  net_revenue
0      2026-02-19  2021-02-19     47189.77
1      2026-02-19  2021-02-19   4168678.86
2      2026-02-19  2021-02-19  13903229.18
3      2026-02-19  2021-02-19  39386490.08
4      2026-02-19  2021-02-19    462197.17
...           ...         ...          ...
8655   2026-02-19  2024-04-20  25347797.19
8656   2026-02-19  2024-04-20   2450147.45
8657   2026-02-19  2024-04-20   2696907.00
8658   2026-02-19  2024-04-20   8018877.21
8659   2026-02-19  2024-04-20   1784508.03

[8660 rows x 3 columns]

In [ ]:
#find out total unique customers along with net_revenue and the order month
#use Date_tunc
#to_char


%%sql

select
  extract(year from orderdate) as order_year,
  extract(month from orderdate) as order_month,
  -- to_char(orderdate, 'YYYY-MM') as order_month,
  -- DATE_TRUNC('month', orderdate):: DATE as order_month,
  sum(quantity*netprice*exchangerate) as net_revenue,
  count( distinct customerkey) as total_unique_cusotmers
from sales
group by
  order_year,
  order_month
order by
  order_year,
  order_month
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  order_year order_month  net_revenue  total_unique_cusotmers
0       2015           1    384092.66                     200
1       2015           2    706374.12                     291
2       2015           3    332961.59                     139
3       2015           4    160767.00                      78
4       2015           5    548632.63                     236
5       2015           6    748563.97                     238
6       2015           7    635376.13                     227
7       2015           8    718538.62                     235
8       2015           9    696805.68                     277
9       2015          10    824891.22                     304

In [ ]:
#Categorizing the net_revenue as high, medium & low
# we use median here as CTE where 25th and 75th percentile are taken to make is medium values and below are low and above are high
#using of multiple WHEN inside CASE

%%sql

with median_values as (
  select
    PERCENTILE_CONT(0.25) within group (order by(s.quantity * s.netprice * s.exchangerate)) as sales_25th_ptl,
    PERCENTILE_CONT(0.75) within group (order by(s.quantity * s.netprice * s.exchangerate)) as sales_75th_ptl
  from
    sales s
  where
    orderdate between '2022-01-01' and '2023-12-31'
)

SELECT
  p.categoryname as category,
  case
    when (s.quantity * s.netprice * s.exchangerate) <= mv.sales_25th_ptl then 'low'
    when (s.quantity * s.netprice * s.exchangerate) >= mv.sales_75th_ptl then 'high'
    else 'medium'
  end as revenue_tier,
  sum(s.quantity * s.netprice * s.exchangerate) as total_revenue

from
  sales s
  left join product p on s.productkey = p.productkey,
  median_values mv
group by
  p.categoryname,
  revenue_tier
order by
  p.categoryname,
  revenue_tier;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                         category revenue_tier  total_revenue
0                           Audio         high     1213265.71
1                           Audio          low      267217.01
2                           Audio       medium     3832415.38
3         Cameras and camcorders          high    15050781.63
4         Cameras and camcorders           low       81032.92
5         Cameras and camcorders        medium     3388546.10
6                     Cell phones         high    21874993.15
7                     Cell phones          low      410309.35
8                     Cell phones       medium    10338963.22
9                       Computers         high    79607760.89
10                      Computers          low      203207.06
11                      Computers       medium    10808054.11
12                 Games and Toys         high      133749.09
13                 Games and Toys          low      533443.13
14                 Games and Toys       medium     1001381.91
15                Home Appliances         high    22383475.30
16                Home Appliances          low      105045.60
17                Home Appliances       medium     4118724.64
18  Music, Movies and Audio Books         high     3844996.29
19  Music, Movies and Audio Books          low      642496.71
20  Music, Movies and Audio Books       medium     6100817.99
21                   TV and Video         high    16632856.33
22                   TV and Video          low       67221.76
23                   TV and Video       medium     3766783.30

In [ ]:
#find out low net revenue and high net revenue by comparing the value with median;
# using of AND in a case when condition
#using CTE to find out the median

%%sql

with median_value as (
  select
    PERCENTILE_CONT(0.5) within group (order by(s.quantity * s.netprice * s.exchangerate)) as median
  from
    sales s
  where
    orderdate between '2022-01-01' and '2023-12-31'
)


select
  p.categoryname as category,
  sum(case when (s.quantity*s.netprice*s.exchangerate) < mv.median
    and s.orderdate between '2022-01-01' and '2022-12-31'
   then (s.quantity * s.netprice * s.exchangerate) end ) as y2022_low_net_revenue,
  sum(case when (s.quantity*s.netprice*s.exchangerate) >=  mv.median
    and s.orderdate between '2022-01-01' and '2022-12-31'
   then (s.quantity * s.netprice * s.exchangerate) end ) as y2022_high_net_revenue,
   -- for 2023
   sum(case when (s.quantity*s.netprice*s.exchangerate) <  mv.median
    and s.orderdate between '2023-01-01' and '2023-12-31'
   then (s.quantity * s.netprice * s.exchangerate) end ) as y2023_low_net_revenue,
  sum(case when (s.quantity*s.netprice*s.exchangerate) >=  mv.median
    and s.orderdate between '2023-01-01' and '2023-12-31'
   then (s.quantity * s.netprice * s.exchangerate) end ) as y2023_high_net_revenue

from
  sales s
  left join product p on s.productkey = p.productkey,
  median_value mv

group by
  p.categoryname
order by
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,y2022_low_net_revenue,y2022_high_net_revenue,y2023_low_net_revenue,y2023_high_net_revenue
0,Audio,222337.83,544600.39,180251.13,508439.06
1,Cameras and camcorders,133004.54,2249528.02,104869.46,1878676.83
2,Cell phones,814449.53,7305215.55,729699.39,5272448.24
3,Computers,624340.42,17237873.07,590790.31,11060076.90
4,Games and Toys,231979.63,84147.67,206103.36,64271.60
5,Home Appliances,219797.07,6392649.61,176261.35,5743731.52
6,"Music, Movies and Audio Books",685808.49,2303488.80,574958.76,1605809.37
7,TV and Video,272338.29,5542998.32,164275.35,4247902.87

In [ ]:
#using AND & CASE WHEN condition together
#Multiple When clauses in a single CASE block

%%sql

select
  orderdate,
  quantity,
  netprice,
  case
    when quantity >= 2 and netprice >= 100 then 'multiple high value order'
    when netprice >= 100 then 'Single High value order'
    when quantity >=2 then 'multiple standard items'
    else 'single standard order'
  end as order_type
from sales
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice                 order_type
0  2015-01-01         1     98.97      single standard order
1  2015-01-01         1    659.78    Single High value order
2  2015-01-01         2     54.38    multiple standard items
3  2015-01-01         4    286.69  multiple high value order
4  2015-01-01         7    135.75  multiple high value order
5  2015-01-01         3    434.30  multiple high value order
6  2015-01-01         1     58.73      single standard order
7  2015-01-01         3     74.99    multiple standard items
8  2015-01-01         2    113.57  multiple high value order
9  2015-01-01         1    499.45    Single High value order

In [ ]:
#Finding the median of the net-revenue based on years
#Use the following PERCENTILE_CONT function to get the median
#generally sales is spoken as total revenue in business.

%%sql

select
  p.categoryname as category,
  percentile_cont(0.5) within group(order by (case
  when s.orderdate between '2022-01-01' and '2022-12-31' then (s.quantity * s.netprice * s.exchangerate) end)) as y2022_median_sales,
  percentile_cont(0.5) within group(order by (case
  when s.orderdate between '2023-01-01' and '2023-12-31' then (s.quantity * s.netprice * s.exchangerate)end )) as y2023_median

from
  sales s
left join product p on s.productkey = p.productkey

group by
  p.categoryname
order by
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_median_sales  y2023_median
0                          Audio              257.21        266.59
1        Cameras and camcorders               651.46        672.60
2                    Cell phones              418.60        375.88
3                      Computers              809.70        657.18
4                 Games and Toys               33.78         32.62
5                Home Appliances              791.00        825.25
6  Music, Movies and Audio Books              186.58        159.63
7                   TV and Video              730.46        790.79

In [ ]:
#FInding out the avg net revnue of different years
#FInding out the min revnue of different years
#FInding out the max net revnue of different years

%%sql

select
  p.categoryname as category,
  avg(case when s.orderdate between '2022-01-01' and '2022-12-31' then s.quantity * s.netprice * s.exchangerate  end ) as avg_net_revenue_2022,
  avg(case when s.orderdate between '2023-01-01' and '2023-12-31' then s.quantity * s.netprice * s.exchangerate  end ) as avg_net_revenue_2023,
  MIN(case when s.orderdate between '2022-01-01' and '2022-12-31' then s.quantity * s.netprice * s.exchangerate  end ) as min_net_revenue_2022,
  min(case when s.orderdate between '2023-01-01' and '2023-12-31' then s.quantity * s.netprice * s.exchangerate  end ) as min_net_revenue_2023,
  MAX(case when s.orderdate between '2022-01-01' and '2022-12-31' then s.quantity * s.netprice * s.exchangerate  end ) as max_net_revenue_2022,
  MAX(case when s.orderdate between '2023-01-01' and '2023-12-31' then s.quantity * s.netprice * s.exchangerate  end ) as max_net_revenue_2023


from
  sales s
left join product p on s.productkey = p.productkey

group by
  p.categoryname
order by
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,avg_net_revenue_2022,avg_net_revenue_2023,min_net_revenue_2022,min_net_revenue_2023,max_net_revenue_2022,max_net_revenue_2023
0,Audio,392.30,425.38,9.31,10.85,3473.36,2730.87
1,Cameras and camcorders,1210.02,1210.96,6.74,5.98,15008.39,13572.00
2,Cell phones,722.20,623.28,2.53,2.28,7692.37,8912.22
3,Computers,1565.62,1292.39,0.83,0.75,38082.66,27611.60
4,Games and Toys,81.29,80.83,2.83,3.49,5202.01,3357.30
5,Home Appliances,1755.36,1886.55,4.04,4.54,31654.55,32915.59
6,"Music, Movies and Audio Books",386.61,334.58,7.29,6.91,5415.19,3804.91
7,TV and Video,1535.61,1687.90,41.30,42.30,30259.41,27503.12

In [ ]:
#generating the total net revenue based on the year
# SUM(Case when ) function since we need to add the revenue from that year and show the revenue based on the product -> category

%%sql
select
  p.categoryname,
  sum(s.quantity * s.netprice * s.exchangerate) as net_revenue,
  sum(case when s.orderdate between '2022-01-01' and '2022-12-31' then s.quantity * s.netprice * s.exchangerate else 0 end ) as net_revenue_2022,
  sum(case when s.orderdate between '2023-01-01' and '2023-12-31' then s.quantity * s.netprice * s.exchangerate else 0 end ) as net_revenue_2023
from
  sales s
left join product p on s.productkey = p.productkey

group by
  p.categoryname
order by
  p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,categoryname,net_revenue,net_revenue_2022,net_revenue_2023
0,Audio,5312898.10,766938.21,688690.18
1,Cameras and camcorders,18520360.66,2382532.56,1983546.29
2,Cell phones,32624265.72,8119665.07,6002147.63
3,Computers,90619022.05,17862213.49,11650867.21
4,Games and Toys,1668574.13,316127.30,270374.96
5,Home Appliances,26607245.54,6612446.68,5919992.87
6,"Music, Movies and Audio Books",10588311.00,2989297.28,2180768.13
7,TV and Video,20466861.38,5815336.61,4412178.23

In [ ]:
# using Count -> to find customers in specific dates in a year.
#using Case when along with count: pivoting data by counting rows based on conditional logic

%%sql

select
  s.orderdate,
  count(distinct s.customerkey) as total_customers,
  COUNT(distinct case when c.continent = 'Europe' then s.customerkey end) as eu_customers,
  count(distinct case when c.continent  = 'North America' then s.customerkey end) as na_customers,
  count(distinct case when c.continent = 'Australia' then s.customerkey end) as au_cusotmer
from
  sales s
left join customer c on s.customerkey = c.customerkey
where
  s.orderdate between '2023-01-01' and '2023-12-31'
group by
  s.orderdate
order by
  s.orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

364 rows affected.

      orderdate  total_customers  eu_customers  na_customers  au_cusotmer
0    2023-01-01               12             6             5            1
1    2023-01-02               49            15            31            3
2    2023-01-03               64            17            44            3
3    2023-01-04               78            28            46            4
4    2023-01-05               87            22            57            8
..          ...              ...           ...           ...          ...
359  2023-12-27               73            26            41            6
360  2023-12-28               75            24            44            7
361  2023-12-29               55            19            32            4
362  2023-12-30               91            25            50           16
363  2023-12-31                9             1             8            0

[364 rows x 5 columns]

In [ ]:
#calculating new_revenue
#finding date
#adding customer info -> use join bez customer data which is present in customer table and all other data about sales is present in sales tabl
# sales and customer table are connected via customerkey
#add product details
#marking as high or low value customers
%%sql

select
  s.orderdate,
  s.quantity * s.netprice * s.exchangerate as net_revenue,
  c.givenname,
  c.surname,
  c.countryfull,
  c.continent,
  p.productkey,
  p.productname,
  p.categoryname,
  p.subcategoryname,
  case when s.quantity * s.netprice * s.exchangerate > 1000 then 'high' else 'low' end as high_low
from
  sales s
left join customer c on s.customerkey = c.customerkey
left join product p on s.productkey = p.productkey
where
  orderdate :: date >= '2020-01-01'
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderdate,net_revenue,givenname,surname,countryfull,continent,productkey,productname,categoryname,subcategoryname,high_low
0,2020-01-01,99.47,Heike,Burger,Germany,Europe,1810,MGS Bicycle Card Games2009 E166,Games and Toys,Download Games,low
1,2020-01-01,139.97,Heike,Burger,Germany,Europe,1809,MGS Bicycle Board Games2009 E165,Games and Toys,Download Games,low
2,2020-01-01,669.39,Heike,Burger,Germany,Europe,698,Proseware Wireless Photo All-in-One Printer M3...,Computers,"Printers, Scanners & Fax",low
3,2020-01-01,4090.60,Heike,Burger,Germany,Europe,364,Adventure Works Laptop12 M1200 Black,Computers,Laptops,high
4,2020-01-01,237.15,Michelle,Seeber,Canada,North America,1288,Contoso Genuine Leather Grip Belt E322 Silver,Cameras and camcorders,Cameras & Camcorders Accessories,low
5,2020-01-01,1507.16,Jason,Smith,United States,North America,2061,Contoso Microwave 1.5CuFt X0110 Silver,Home Appliances,Microwaves,high
6,2020-01-01,189.35,Jason,Smith,United States,North America,1717,MGS Flight Simulator X M250,Games and Toys,Download Games,low
7,2020-01-01,539.90,Jason,Smith,United States,North America,435,Adventure Works Desktop PC1.60 ED160 White,Computers,Desktops,low
8,2020-01-01,5590.00,James,Frye,United States,North America,451,WWI Desktop PC2.30 M2300 Silver,Computers,Desktops,high
9,2020-01-01,3580.00,Johnny,Couch,United States,North America,535,WWI LCD19W M100 White,Computers,Monitors,high

In [ ]:
# #generating the total columsn in differnent tables
%%sql

select *
from sales
limit 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16

In [ ]:
#generating all the tables in the db
%%sql

select table_name
from information_schema.tables
where table_schema = 'public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store